@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

body {
    fill: #fff;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:focus,
:active,
input {
    outline: none;
}

.g-wrapper {
    max-width: 1920px;
    min-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.g-autonomous-box {
    width: 1230px;
    box-sizing: border-box;
    display: flex;
    padding: 0 30px;
    margin: 0 auto;
}

.g-button {
    background-color: #998675;
    border-radius: 3px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    width: 170px;
    height: 50px;
}

.g-button:hover {
    cursor: pointer;
    box-shadow: -0.4px -0.4px 0.4px #ccc;
    padding: 0.5px 0 0 0.5px;
    color: #ccc;
}

.g-flip-h {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.g-href-light {
    color: #fff;
    fill: #fff;
}

.g-href-light:hover {
    color: #d3c1ad;
    fill: #d3c1ad;
    cursor: pointer;
    opacity: 0.9;
}

.header {
    background: url(../img/slider_photo1.jpg) no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    max-width: 1920px;
    box-sizing: border-box;
    height: 1024px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header::after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.header > * {
    position: relative;
    z-index: 1;
}

.header__nav-wrapper {
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.header__logo-holder {
    display: flex;
    align-items: center;
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
}

.header__logo {
    width: 64px;
    height: 56px;
}

.header__link-list {
    display: flex;
    align-items: center;
}

.header__link {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #fff;
    padding-right: 30px;
}

.header__cart {
    margin-left: 30px;
    border: none;
    background-color: transparent;
}

.header__link-svg {
    width: 18px;
    height: 24px;
}

.header__search-form {
    position: relative;
    height: 24px;
    width: 18px;
    margin-left: 30px;
}

.header__search-svg {
    position: absolute;
    left: 0;
    top: 0;
}

.header__search-input {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 24px;
    width: 18px;
    background-color: transparent;
    color: transparent;
    outline: none;
    border: none;
    transition: all 1s ease;
    z-index: 3;
}

.header__search-input:focus {
    right: 0;
    left: auto;
    cursor: default;
    top: 40px;
    width: 300px;
    color: #d3c1ad;
    padding: 0 5px;
    background-color: #fff;
    transition: all 1s ease;
}

.header__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.header__arrow {
    width: 42px;
    height: 75px;
}

.header__notice {
    width: 600px;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    align-items: center;
}

.header__pre-description {
    font-family: Raleway;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
}

.header__description {
    font-family: Raleway;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #fff;
    padding-bottom: 20px;
}

.header__post-description {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    padding-bottom: 50px;
}

.header__selector-wrapper {
    margin: 0 auto 40px;
    display: flex;
    align-items: center;
}

.header__selector {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
    border: solid 2px rgba(0, 0, 0, 0.9);
    border-radius: 50%;
}

.header__selector:last-child {
    margin-right: 0;
}

.header__selector:hover {
    background-color: transparent;
    border: solid 2px #d3c1ad;
}

.services__link-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
}

.services__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    color: #555555;
}

.services__link:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.services__link:hover .services__icon {
    fill: #c7b299;
}

.services__link:hover .services__title {
    color: #c7b299;
}

.services__link:hover:after {
    background-color: #c7b299;
}

.services__icon {
    fill: #555555;
    padding-bottom: 30px;
}

.services__icon_pencil {
    width: 49px;
    height: 49px;
}

.services__icon_layers {
    width: 44px;
    height: 40px;
}

.services__icon_mechanism {
    width: 44px;
    height: 44px;
}

.services__icon_case {
    width: 52px;
    height: 36px;
}

.services__title {
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: 20px;
}

.services__description {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    width: 275px;
    padding-bottom: 30px;
}

.services__example-wrapper {
    background-color: #fbfaf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.services__example-title {
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    padding-bottom: 24px;
}

.services__example-description {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    width: 760px;
    padding-bottom: 40px;
}

.services__example {
    position: relative;
    height: 482px;
    width: 1230px;
}

.services__shot_center {
    position: absolute;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 2;
}

.services__shot_left {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 400px;
    z-index: 1;
}

.services__shot_right {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 400px;
    z-index: 1;
}

.services__shot_right:hover,
.services__shot_left:hover {
    z-index: 3;
}

.purchase {
    background-image: -webkit-linear-gradient(bottom, #211b19 0%, #4e3427 100%);
    background-image: -o-linear-gradient(bottom, #211b19 0%, #4e3427 100%);
    background-image: linear-gradient(to top, #211b19 0%, #4e3427 100%);
}

.purchase__global-wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-bottom: 50px;
}

.purchase__description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.purchase__title {
    font-family: Raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.purchase__title_accent {
    color: #c7b299
}

.purchase__note {
    text-align: left;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}

.projects {
    padding-top: 80px;
    padding-bottom: 80px;
    flex-direction: column;
    align-items: center;
}

.projects__title {
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    padding-bottom: 24px;
}

.projects__description {
    width: 755px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    padding-bottom: 40px;
}

.projects__category {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 25px;
    border-radius: 3.0px;
    border: 1.0px solid #ebebeb;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    background-color: #fff;
}

.projects__category:last-child {
    margin-right: 0;
}

.projects__category:hover {
    cursor: pointer;
    border: solid 1px #ccc;
    -webkit-box-shadow: 1px 1px 2px 1px #ebebeb;
    box-shadow: 1px 1px 2px 1px #ebebeb;
}

.projects__category_active {
    background-color: #998675;
    color: #ffffff;
}

.projects__item__wrapper {
    height: 705px;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-between;
}

.projects__item {
    position: relative;
    width: 370px;
    height: 337px;
    background-color: antiquewhite
}

.projects__item-front {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    height: 100px;
    padding: 30px 30px 0;
    z-index: 5;
}

.projects__item-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 105px;
    z-index: 1;
}

.projects__item-back {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
    background-color: #fbfaf8;
    z-index: 3;
}

.projects__item-back::before {
    content: "";
    border: 15px solid transparent;
    border-bottom: 15px solid #fbfaf8;
    position: absolute;
    top: -30px;
    left: 20px;
}

.projects__item-poster {
    width: inherit;
    height: 237px;
    position: relative;
    z-index: 1;
}

.projects__item-title {
    display: block;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    color: #c7b299;
}

.projects__item-txt {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-align: left;
    color: #d1d1d1;
}

.projects__item:hover .projects__item-hover {
    z-index: 4;
}

.projects__item:hover .projects__item-title {
    color: #ffffff;
}

.projects__item:hover .projects__item-txt {
    color: #c7b299;
}

.projects__link-svg {
    width: 26px;
    height: 26px;
}

.projects__btn-in-pic {
    margin-right: 30px;
    border: none;
    background-color: transparent;
}

.projects__btn-in-pic:last-child {
    margin-right: 0;
}

.presentation {
    width: 100%;
    height: 705px;
    position: relative;
    overflow: hidden;
}

.presentation__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: 2;
}

.presentation__btn-bar {
    position: absolute;
    left: 40px;
    bottom: 40px;
    z-index: 1;
}

.presentation__description-wrapper {
    position: relative;
    width: 570px;
    margin: 210px auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.projects__mega-btn {
    outline: none;
    border: none;
    background-color: transparent;
}

.projects__mega-btn:hover .projects__mega-btn-img {
    fill: #c7b299;
    cursor: pointer;
}

.projects__mega-btn-img {
    margin: auto;
    width: 70px;
    height: 70px;
    fill: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 15px transparent;
    border-radius: 50%;
}

.presentation__title {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;
    padding: 35px 0 16px;
}

.presentation__description {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    color: #ffffff;
    padding-bottom: 40px;
}

.presentation__micro-btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-right: 30px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.presentation__duration {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
}

.mobile {
    background: url(../img/iphone_in_hand.jpg) no-repeat left 77px bottom;
    min-height: 695px;
    padding: 195px 40px 0 530px;
    flex-direction: column;
    align-items: flex-start;
}

.mobile__title {
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    padding-bottom: 40px;
}

.mobile__description {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    text-align: left;
    color: #8c8c8c;
    padding-bottom: 40px;
}

.mobile__benefits-list {
    padding-left: 50px;
    padding-right: 10px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: left;
}

.mobile__benefit {
    padding-left: 50px;
    position: relative;
}

.mobile__benefit::before {
    content: "";
    position: absolute;
    background-image: url(../img/icon_li.svg);
    width: 21px;
    height: 21px;
    left: 0;
    top: 5px;
    border-radius: 50%;
}

.statist {
    background-image: -webkit-linear-gradient(bottom, #211b19 0%, #4e3427 100%);
    background-image: -o-linear-gradient(bottom, #211b19 0%, #4e3427 100%);
    background-image: linear-gradient(to top, #211b19 0%, #4e3427 100%);
}

.statist__global-wrapper {
    padding-top: 70px;
    padding-bottom: 60px;
    flex: row nowrap;
    justify-content: center;
    align-items: flex-end;
}

.statist__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 150px;
    margin-right: 55px;
}

.statist__item::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
}

.statist__item:last-child {
    margin-right: 0;
}

.statist__icon {
    fill: #c7b299;
    padding-bottom: 30px;
}

.statist__icon_client,
.statist__icon_quote,
.statist__icon_heart {
    width: 44px;
    height: 44px;
}

.statist__icon_dish {
    width: 54px;
    height: 44px;
}

.statist__icon_cofee {
    width: 48px;
    height: 44px;
}

.statist__value {
    font-family: Montserrat;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #ffffff;
    padding-bottom: 21px;
}

.statist__description {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
    padding-bottom: 30px;
}

.posts {
    padding-top: 80px;
    padding-top: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.posts__title {
    display: block;
    width: 100%;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.posts__description {
    width: 820px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    padding: 30px 40px 40px;
}

.posts__item {
    width: 370px;
    height: 395px;
    border: 1px solid #f8f8f8;
    position: relative;
    overflow: hidden;
}

.posts__item-back {
    width: 100%;
    height: 220px;
    position: absolute;
}

.posts__item-front {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.posts__item:hover .posts__item-front {
    background-color: rgba(0, 0, 0, 0.4);
}

.posts__item:hover .posts__item-title {
    color: #c7b299;
}

.posts__item:hover .posts__item-description {
    color: #ffffff;
}

.posts__item:hover .posts__item-day {
    background-color: #c7b299;
}

.posts__item:hover .posts__item-month {
    background-color: #a48d72;
}

.posts__pagination {
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.posts__btn {
    background-color: transparent;
    outline: none;
    border: none;
    margin-right: 8px;
}

.posts__btn:last-child {
    margin-right: 0;
}

.posts__btn-svg {
    width: 22px;
    height: 22px;
    fill: #d1d1d1;
}

.posts__btn:hover .posts__btn-svg {
    fill: #c7b299;
    cursor: pointer;
}

.posts__item-date {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 50px;
    color: #ffffff;
}

.posts__item-day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    background-color: #363636;
    border-radius: 3px 3px 0 0;
}

.posts__item-month {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: #252525;
    border-radius: 0 0 3px 3px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

.posts__item-title {
    display: block;
    position: absolute;
    top: 250px;
    left: 30px;
    text-align: left;
    font-family: Raleway;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
}

.posts__item-description {
    position: absolute;
    top: 290px;
    left: 30px;
    font-family: Montserrat;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
}

.posts__item-link {
    text-align: left;
    position: absolute;
    top: 350px;
    left: 30px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
}

.posts__item-back_1 {
     background: url(../img/photo_legs.jpg) no-repeat center top;
}

.posts__item-back_2 {
    background: url(../img/photo_hands.jpg) no-repeat center top;
}

.posts__item-back_3 {
    background: url(../img/photo_ship.jpg) no-repeat center top;
}
